.header {
    height: 500px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    font-weight: 600;
    color: var(--white);

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 0 2rem  0 1rem;
}

.navbar ul li a {
    color: var(--white);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--clear-color2);
    }
}

.header_highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header_highlight_image {
    margin-bottom: 1rem;
    border-radius: 10rem;
    border: 2px solid var(--white);
}

.header_highlight h1 {
    font-size: 4rem;
    font-weight: 600;
}

.header_highlight p {
    font-size: 1.5rem;
}

.header_highlight span {
    color: var(--clear-color);
    font-weight: 800;
    margin-left: 0.2rem;
}

.style-button {
    padding: 1rem;
    margin-top: 1rem;
    background: var(--gradient);
    border: none;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-weight: 600;
    transition: 0.5s;
    background-size: 200% auto;
    text-transform: uppercase;

    &:hover {
        background-position: right center; 
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 8rem;
    width: 60%;
}

.certificates, .skills, #contact {
    padding: 1rem;
    margin-top: 8rem;
    width: 60%;
    align-items: center;
    text-align: center;
}

.about-me-texts, .certificates-texts {
    margin: 0 1rem;
}

#about-me img {
    width: 30rem;
    border-radius: 2rem 0 2rem 0;
}

#about-me h2, .certificates-texts h2, #services h2, #portfolio h2, .skills h2, #contact h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;

}

#about-me p, .certificates-texts p, #services ul li p, .skills p, #contact p, .project-texts p {
    font-weight: 200;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.certificates-texts p {
    text-align: center;
}

.about-me-buttons a, .project-buttons a {
    margin-right: 1rem;
}

.certificate, .project {
  display: flex;
  align-items: center;
}

.project {
  margin-bottom: 2rem;
}

.certificates-infos img {
  width: 30rem;
}

.certificate h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.certificates-infos p, .project-texts p {
  text-align: left;
  line-height: 1.5rem;
  font-weight: 200;
  margin-left: 1rem;
}


/* .carousel-container {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
  
    .carousel {
      aspect-ratio: 16/9;
      width: 100%;
      position: relative;
      overflow: hidden;
  
      .item {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: none;
        transition: opacity 0.5s ease-in-out;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
  
        .caption {
          width: 100%;
          padding: var(--lx-space-01);
          position: absolute;
          bottom: 0;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.5);
        }
  
        &.active {
          opacity: 1;
          display: block;
        }
      }
    }
  
    .btn {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      outline: none;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 900;
      color: var(--clear-color2);
      background: transparent;
      transition: transform 0.2s ease-in-out;
  
      &:active,
      &:focus {
        transform: translateY(-50%) scale(0.9);
      }
  
      &:hover {
        transform: translateY(-50%) scale(0.96);
      }
    }
  
    .prev {
      left: -5%;
    }
  
    .next {
      right: -5%;
    }
  
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 0.5rem;
  
      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        background-color: var(--clear-color2);
        transition: background-color 0.2s ease;
  
        &.active,
        &:hover {
          background-color: var(--clear-color);
        }
      }
    }
  } */

#services {
padding: 1rem;
margin-top: 8rem;
width: 60%;
align-items: center;
}

#services h2 {
  text-align: center;
}

#services ul {
  display: flex;
  justify-content: center;
}

#services ul li {
  margin: 3rem;
  padding: 1rem;
  background: var(--secondary-color);
}

#portfolio {
  padding: 1rem;
  margin-top: 8rem;
  width: 80%;
  align-items: center;
  text-align: center;
}

.project img {
  width: 60%;
  margin-right: 2rem;
}

.project-texts {
  margin-left: 1rem;
}

.project-texts h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.project-texts p {
  margin-left: 0;
}

.project-texts ul {
  display: flex;
}

.project-texts ul li {
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem;
  background: var(--clear-color2);
  border-radius: 2rem;
}

.project-buttons {
  text-align: left;
}
  
.hugeicons--developer {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23778DA9' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23778DA9'%3E%3Cpath d='M15.175 22v-1.009A1.007 1.007 0 0 1 16.18 20h.075c1.432-.012 2.662-1.006 2.954-2.388l.01-.052l.52-2.56l.94-.464c.505-.248.756-.373.81-.6c.055-.228-.114-.45-.451-.895l-1.908-2.508c-.19-.25-.285-.374-.335-.506s-.067-.32-.098-.693C18.353 5.227 14.865 2 10.612 2C6.132 2 2.5 5.582 2.5 10c0 2.75 1.407 5.175 3.55 6.615m0 0V22m0-5.385a8 8 0 0 0 2.027.987'/%3E%3Cpath d='m14 9l.92.793c.387.333.58.5.58.707s-.193.374-.58.707L14 12M7 9l-.92.793c-.387.333-.58.5-.58.707s.193.374.58.707L7 12m4.5-4l-2 5'/%3E%3C/g%3E%3C/svg%3E");
}

.ph--desktop-light {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23778DA9' d='M208 42H48a22 22 0 0 0-22 22v112a22 22 0 0 0 22 22h74v20H96a6 6 0 0 0 0 12h64a6 6 0 0 0 0-12h-26v-20h74a22 22 0 0 0 22-22V64a22 22 0 0 0-22-22M48 54h160a10 10 0 0 1 10 10v82H38V64a10 10 0 0 1 10-10m160 132H48a10 10 0 0 1-10-10v-18h180v18a10 10 0 0 1-10 10'/%3E%3C/svg%3E");
}

#services ul li div {
  background: var(--clear-color); 
  border-radius: 2rem 0 2rem 0;
  margin-bottom: 2rem;

}

.skills-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 1rem;
} 

.skills-list li {
  align-items: center;
}

.skills-list li img {
  width: 10rem;
  height: 10rem;
}

.ic--baseline-whatsapp::after {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%0D1B2A' d='M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'/%3E%3C/svg%3E");
}

.ic--baseline-email::after {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%0D1B2A' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z'/%3E%3C/svg%3E");
}

.mdi--linkedin::after {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%0D1B2A' d='M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z'/%3E%3C/svg%3E");
}

.mdi--instagram::after {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%0D1B2A' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
}

.contact-section {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  background: var(--gradient);
}

#contact {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

#contact p {
  text-align: left;
  color: #000;
  font-weight: 400;
}

.contact-section ul {
  text-align: left;
}

.contact-section ul li {
  display: flex;
  align-items: center;
}

.contact-section ul li a {
  color: var(--background-color);
  margin-left: 1rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer ul li {
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 4rem;
  background: var(--gradient);
}

.bxs--up-arrow::after {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%0D1B2A' d='M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19'/%3E%3C/svg%3E");
}

.scroll-to-top {
  font-size : 20px;
  background: var(--gradient);
  border: none;
  border-radius: 2rem;
  display : block;
  padding : 5px;
  position : fixed;
  bottom : 10px;
  right : 10px;
  display : none;
  cursor : pointer;
}