@media (min-width: 482px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px){
  .sobre-mim {
    align-items: center;
  }

  .sobre-mim-texto {
    margin: 0.5rem 10rem;
  }

  .formacao, .skills, .contato, .projetos ul {
    display: flex;
    justify-content: space-around;
  }

  .botoes-principais {
    display: flex;
    justify-content: center;
  }

  .contato {
    align-items: center;
  }

  .form {
    width: 30rem;
  }

}
